<div class="row">
  <div class="col-md-6">
    <div class="user">
      <h2>{{ usersShow.user.username }}</h2>
      <h3>{{ usersShow.user.email }}</h3>
      <h3>{{ usersShow.user.first_name }}</h3>
      <h3>{{ usersShow.user.last_name }}</h3>
      <li ng-repeat="idea in usersIndex">
        <h3>{{ user.idea }}</h3>
      </li>
      <li ng-repeat="idea in usersIndex">
        <h3>{{ user.love }}</h3>
      </li>
      <li ng-repeat="idea in usersIndex">
        <h3>{{ user.join }}</h3>
      </li>

      <button ui-sref="usersEdit({id: usersShow.user.id})" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.user.id">Edit</button>
      <button ng-click="usersShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.user.id">Delete</button>
    </div>
  </div>
</div>
