<ul class="row">
  <li ng-repeat="idea in ideasIndex.all" class="col-md-6">
    <div class="idea">
      <a ui-sref="ideasShow({id: idea.id})"><h2>{{ idea.title }}</h2></a>
      <a ui-sref="ideasShow({id: idea.id})"><h3>{{ idea.pitch }}</h3></a>
      <a ui-sref="ideasShow({id: idea.id})"><img ng-src="{{ idea.image_src }}" alt="{{ idea.title }}" height="200px" width="300px"></a>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <p><strong>{{idea.target}}</strong> people needed</p>
      <br>
      <p>Created by: <strong>{{ idea.user.username }}</strong></p>
      <p>Ends on: {{idea.days_remaining | date:"dd MMM yyyy 'at' h:mma" }}</p>

    </div>
  </li>
</ul>
