<div class="comments">
  <div class="row">
    <div class="col-md-1">
      <a ui-sref="usersShow({id: ideasShow.idea.user.id})"><img class="userThumbnail" ng-src="{{ ideasShow.idea.user.image_src }}" alt="{{ ideasShow.idea.user.username }}"></a>
    </div>
    <div class="col-md-6">
      <h2>{{ ideasShow.idea.title }}</h2>
      <h3>{{ ideasShow.idea.pitch }}</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="event">
      <img class="ideaMain" ng-src="{{ ideasShow.idea.image_src }}" alt="{{ ideasShow.idea.title }}">
      <button ui-sref="ideasEdit({id: ideasShow.idea.id})" ng-if="main.isAuthenticated() && main.currentUser.id === ideasShow.idea.user.id">Edit</button>
      <button ng-click="ideasShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === ideasShow.idea.user.id">Delete</button>
    </div>
  </div>


<div class="col-md-6">
  <div class="attendees">
    <span class="donate"></span>
    <div class="progress">
      <div class="bar" style="width:{{((ideasShow.idea.joiner_ids.length / ideasShow.idea.target) * 100)}}%">
        <!-- show calculated percentage if total amount joiner_ids.length is <= 100% -->
        <span class="percent" ng-show="((ideasShow.idea.joiner_ids.length / ideasShow.idea.target) * 100) <= 100">{{((ideasShow.idea.joiner_ids.length / ideasShow.idea.target) * 100) | number:0}}%</span>
        <!-- show maximum percentage if total amount joiner_ids.length is > 100% -->
        <span class="percent" ng-show="((ideasShow.idea.joiner_ids.length / ideasShow.idea.target) * 100) > 100">100%</span>
      </div>
    </div>
    <span class="target">People joined: <strong> {{ideasShow.idea.joiner_ids.length }} </strong> </span>
    <p class="donate"> Total needed: {{ ideasShow.idea.target }}</p>

    <hr>
    <p class="people{{ideasShow.idea.people_left}}"><strong>{{ideasShow.idea.people_left }}</strong> people still needed</p>
    <p>Loves &hearts; : <strong> {{ ideasShow.idea.love_ids.length }} </strong></p>
    <p class="days{{ideasShow.idea.days_left}}"><strong>{{ideasShow.idea.days_left }}</strong> days left</p>
    <p>End date: <strong> {{ideasShow.idea.end_date | date:"dd MMM yyyy 'at' h:mma" }}</strong></p>
    <p><a ui-sref="usersShow({id: ideasShow.idea.user.id})">Created by: <strong>{{ ideasShow.idea.user.username }}</strong></a></p>
    <p>Who we need: <strong>{{ ideasShow.idea.who_we_need }}</strong></p>
    <p>What's in it for you: <strong>{{ ideasShow.idea.benifits_for_you }}</strong></p>
    <p>Description: <strong>{{ ideasShow.idea.description }}</strong></p>
    <p>Tags: </p>
    <ul>
      <li ng-repeat="tag in ideasShow.idea.tags">
        <strong>{{ tag.name }}</strong>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h5>People who love this idea</h5>
      <ul>
        <li ng-repeat="loves in ideasShow.idea.loves">
          {{ loves.username }}
        </li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Love this idea?</h2>
      <button ng-click="ideasShow.toggleLove()" ng-if="main.isAuthenticated() && !ideasShow.isLove()">&hearts;</button>
      <button ng-click="ideasShow.toggleLove()" ng-if="main.isAuthenticated() && ideasShow.isLove()">Un-love this idea</button>
    </div>
  </div>
</div>

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Team members</h2>
      <ul>
        <li ng-repeat="joiner in ideasShow.idea.joiners">
          {{ joiner.username }}
        </li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Join this team?</h2>
      <button ng-click="ideasShow.toggleJoin()" ng-if="main.isAuthenticated() && !ideasShow.isJoin()">Hell yeah!</button>
      <button ng-click="ideasShow.toggleJoin()" ng-if="main.isAuthenticated() && ideasShow.isJoin()">Un-join this team</button>
    </div>
  </div>
</div>

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in ideasShow.idea.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="ideasShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="ideasShow.addComment()">
        <textarea type="text" name="body" ng-model="ideasShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>
