<div class="row">
  <div class="col-md-6">
    <form ng-submit="register.submit()">
      <div>
        <label>Username</label>
        <input type="text" ng-model="register.user.username">
      </div>

      <div>
        <label>Email</label>
        <input type="text" ng-model="register.user.email">
      </div>

      <div>
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="register.user.base64">
      </div>

      <div>
        <label>Password</label>
        <input type="password" ng-model="register.user.password">
      </div>

      <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="register.user.password_confirmation">
      </div>

      <button>Register</button>

      <hr>

      <button style="background-color:#3b5998; border: none;" ng-click="login.authenticate('facebook')">Register with Facebook</button>

      <hr>
      
      <button style="background-color:black; border: none;" ng-click="login.authenticate('github')">Register with Github</button>


    </form>
  </div>
</div>
