<div class="row">
  <div class="col-md-6">
    <form ng-submit="register.submit()" novalidate>
      <div>
        <label>Username</label>
        <input type="text" ng-model="register.user.username" required maxlength="30">
      </div>

      <div>
        <label>Email</label>
        <input type="text" ng-model="register.user.email" required maxlength="40">
      </div>

      <div>
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="register.user.base64" accept="image/x-png,image/gif,image/jpeg">
      </div>

      <div>
        <label>Password</label>
        <input type="password" ng-model="register.user.password" required maxlength="30">
      </div>

      <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="register.user.password_confirmation" required maxlength="30">
      </div>

      <button>Register</button>

      <hr>

      <button style="background-color:#3b5998; border: none;" ng-click="login.authenticate('facebook')"><span class="icon">
        <i class="fa fa-facebook"></i>
      </span>Register with Facebook</button>

      <hr>

      <button style="background-color:black; border: none;" ng-click="login.authenticate('github')"><span class="icon">
        <i class="fa fa-github"></i>
      </span>Register with Github</button>


    </form>
  </div>
</div>
