<div class="row">
  <div class="col-md-6">
    <form name="register.registerForm" ng-submit="register.submit()" novalidate>
      <div>
        <label>Username</label>
        <input type="text" ng-model="register.user.username" required maxlength="30" pattern="^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$" name="username" id="username">
        <div class="ng-message-error" ng-messages="register.registerForm.username.$error" ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched)">
          <p class="message" ng-message="required">A username is required</p>
          <p class="message" ng-message="pattern">Please enter a valid username, e.g., Elon Musk</p>
        </div>
      </div>

      <div>
        <label>Email</label>
        <input type="text" ng-model="register.user.email" required maxlength="40" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" id="email">
        <div class="ng-message-error" ng-messages="register.registerForm.email.$error" ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched)">
          <p class="message" ng-message="required">An email is required</p>
          <p class="message" ng-message="pattern">Please enter a valid email address, e.g., elon_musk@innovate.com</p>
        </div>
      </div>

      <div>
        <label for="base64">Image</label>
        <input class="file" type="file" base64 name="base64" id="base64" ng-model="register.user.base64" accept="image/x-png,image/gif,image/jpeg">
      </div>

      <div>
        <label>Password</label>
        <input type="password" ng-model="register.user.password" required maxlength="30" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="password" id="password">
        <div class="ng-message-error" ng-messages="register.registerForm.password.$error" ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched)">
          <p class="message" ng-message="required">A password is required</p>
          <p class="message" ng-message="pattern">Password must contain at least one number and one letter, and be at least 8 or more characters</p>
        </div>
      </div>

      <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="register.user.password_confirmation" required maxlength="30" name="password_confirmation" id="password_confirmation">
        <div class="ng-message-error" ng-messages="register.registerForm.password_confirmation.$error" ng-show="(register.registerForm.$submitted || register.registerForm.password_confirmation.$touched)" ng-pattern="register.regex">
          <p class="message" ng-message="required">You must confirm your password</p>
          <p class="message" ng-message="pattern">Passwords must match</p>
        </div>
      </div>

      <button>Register</button>

    </form>

    <hr>

    <button id="facebook" ng-click="register.authenticate('facebook')"><span class="icon">
      <i class="fa fa-facebook"></i>
    </span>Register with Facebook</button>

    <hr>

    <button id="github" ng-click="register.authenticate('github')"><span class="icon">
      <i class="fa fa-github"></i>
    </span>Register with Github</button>

  </div>
</div>
